{% extends 'admin.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('bundles/adminlte/plugins/datatables/dataTables.bootstrap.css') }}">
{% endblock %}

{% block page_title %} Oferta Académica {% endblock %}
{% block page_subtitle %} Disponibles {% endblock %}

{% block page_content %}


    <table id="tabla_ofertas" class="table table-bordered table-striped">
        <thead>
            <tr>
                <th>PFG</th>
                <th>Unidad Curricular</th>
                <th>Sección</th>
                <th>Aula</th>
                <th>Cupo</th>
                <th>Id</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for seccion in seccions %}
            <tr>
                <td>{{ seccion.ofertaAcademica.idMallaCurricularUc.idMallaCurricular }}</td>
                <td>{{ seccion.ofertaAcademica }}</td>
                <td><a href="{{ path('admin_oferta_seccion_show', { 'id': seccion.id }) }}">{{ seccion.nombre }}</a></td>
                <td>{{ seccion.aula }}</td>
                <td>{{ seccion.cupo }}</td>
                <td>{{ seccion.id }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('admin_oferta_seccion_show', { 'id': seccion.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('admin_oferta_seccion_edit', { 'id': seccion.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('admin_oferta_seccion_new') }}">Create a new seccion</a>
        </li>
    </ul>
{% endblock %}


{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('bundles/adminlte/plugins/datatables/jquery.dataTables.min.js')}}"></script>
    <script src="{{ asset('bundles/adminlte/plugins/datatables/dataTables.bootstrap.min.js')}}"></script>
    <script>
        $('#tabla_ofertas').DataTable( {
            "language": {
                "lengthMenu": "Mostrar _MENU_ registros por página",
                "zeroRecords": "No existe esa persona - lo siento",
                "info": "Mostrando la página _PAGE_ de _PAGES_",
                "infoEmpty": "No hay registros para mostrar",
                "infoFiltered": "(Buscando en los _MAX_ registros disponibles)",
                "search" : "Buscar:"
            }
        } );
    </script>
{% endblock %}