{% extends 'admin.html.twig' %}

{% block page_title %} Inscripción {% endblock %}
{% block page_subtitle %} Buscar Estudiante {% endblock %}

{% block page_content %}
    {{ form_start(form, {'attr': {'class': 'form-horizontal', 'novalidate' : 'novalidate'}}) }}


    <div class="form-group">
        {{ form_label(form.cedula) }}
        <div class="col-sm-4">
            {{ form_errors(form.cedula) }}
            {{ form_widget(form.cedula) }}
        </div>
        <div class="col-sm-4">
            <input class="btn btn-primary" type="submit" value="Buscar">
        </div>
    </div>

    {{ form_end(form) }}

{% endblock %}
