{% extends 'base.html.twig' %}

{% block body %}
    <h1>Inscripcions list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for inscripcion in inscripcions %}
            <tr>
                <td><a href="{{ path('sistema_inscripcion_show', { 'id': inscripcion.id }) }}">{{ inscripcion.id }}</a></td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('sistema_inscripcion_show', { 'id': inscripcion.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('sistema_inscripcion_edit', { 'id': inscripcion.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('sistema_inscripcion_new') }}">Create a new inscripcion</a>
        </li>
    </ul>
{% endblock %}
