{% extends 'admin.html.twig' %}

{% block page_content %}
    {{ form_start(form, {'attr': {'class': 'form-horizontal', 'novalidate' : 'novalidate'}}) }}



    <div class="form-group">
        {{ form_label(form.cedula) }}
        <div class="col-sm-4">
            {{ form_errors(form.cedula) }}
            {{ form_widget(form.cedula) }}
        </div>
        <div class="col-sm-4">
            <input class="btn btn-primary" type="submit" value="Buscar">
        </div>
    </div>

    {{ form_end(form) }}


    {% if estado %}

        {% for e in estado.hasInscripcion %}
            {{ dump(e) }}
        {% endfor %}
        <ul>
            <li>
                <a href="{{ path('admin_inscripcion_new', { 'id': estado.id }) }}">Crear inscripcion</a>
            </li>
        </ul>
    {% endif %}
{% endblock %}
