{% extends 'admin.html.twig' %}

{% block page_title %} Inscripción {% endblock %}
{% block page_subtitle %} Mostrar Estudiante {% endblock %}

{% block page_content %}

    {{ form_start(form, {'attr': {'class': 'form-horizontal', 'novalidate' : 'novalidate'}}) }}


    <div class="form-group">
        {{ form_label(form.cedula) }}
        <div class="col-sm-4">
            {{ form_errors(form.cedula) }}
            {{ form_widget(form.cedula) }}
        </div>
        <div class="col-sm-4">
            <input class="btn btn-primary" type="submit" value="Buscar">
        </div>
    </div>

    {{ form_end(form) }}


    {% if estado %}

        <div class="row">


            <div class="col-sm-6">
                <div class="box">
                    <div class="box-header">

                    </div>
                    <!-- /.box-header -->
                    <div class="box-body">
                        <table id="tabla_personas" class="table table-bordered table-striped">
                            <thead>
                            <tr>
                                <th>Cedulapasaporte</th>
                                <th>Primernombre</th>
                                <th>Primerapellido</th>
                                <th>PFG</th>
                                <th>Actions</th>
                            </tr>
                            </thead>
                            <tbody>

                                <tr>
                                    <td><a href="{{ path('admin_persona_show', { 'id': estado.idPersonaInstitucion.idPersona.id }) }}">{{ estado.idPersonaInstitucion.idPersona.cedulaPasaporte }}</a></td>
                                    <td>{{ estado.idPersonaInstitucion.idPersona.primerNombre }}</td>
                                    <td>{{ estado.idPersonaInstitucion.idPersona.primerApellido }}</td>
                                    <td>{{ estado.idMallaCurricular.idPfg }}</td>
                                    <td>
                                        <a class="btn btn-xs btn-bitbucket" href="{{ path('admin_persona_show', { 'id': estado.idPersonaInstitucion.idPersona.id }) }}">Ver</a>
                                        <a class="btn btn-xs btn-warning" href="{{ path('admin_persona_edit', { 'id': estado.idPersonaInstitucion.idPersona.id }) }}">edit</a>

                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

            {% if estado.hasInscripcion | length > 0 %}
            <div class="col-sm-6">
                <div class="box">
                    <div class="box-header">

                    </div>
                    <!-- /.box-header -->
                    <div class="box-body">
                        <table id="tabla_personas" class="table table-bordered table-striped">
                            <thead>
                                <tr>
                                    <th>Nombre Unidad Curricular</th>
                                    <th>Sección</th>
                                    <th>Actions</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for e in estado.hasInscripcion %}
                                <tr>
                                    <td>{{ e.idSeccion.ofertaAcademica }}</a></td>
                                    <td>{{ e.idSeccion }}</td>
                                    <td>
                                        <a class="btn btn-success btn-xs" href="{{ path('admin_inscripcion_delete', { 'id': e.id }) }}">Crear Datos</a>
                                    </td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
    </div>

        {% endif %}
                <a class="btn btn-primary btn-xs" href="{{ path('admin_inscripcion_new', { 'id': estado.id }) }}">Crear inscripcion</a>

    {% endif %}
{% endblock %}
