{% extends 'admin.html.twig' %}

{% block page_title %} Inscripción {% endblock %}
{% block page_subtitle %} Crear nueva {% endblock %}

{% block page_content %}

    <div class="col-sm-12">
        <div class="box">
            <div class="box-header">

            </div>
            <!-- /.box-header -->
            <div class="box-body">
                <table id="tabla_personas" class="table table-bordered table-striped">
                    <thead>
                    <tr>
                        <th>Cedulapasaporte</th>
                        <th>Primernombre</th>
                        <th>Primerapellido</th>
                        <th>PFG</th>
                        <th>Actions</th>
                    </tr>
                    </thead>
                    <tbody>

                    <tr>
                        <td><a href="{{ path('admin_persona_show', { 'id': estado.idPersonaInstitucion.idPersona.id }) }}">{{ estado.idPersonaInstitucion.idPersona.cedulaPasaporte }}</a></td>
                        <td>{{ estado.idPersonaInstitucion.idPersona.primerNombre }}</td>
                        <td>{{ estado.idPersonaInstitucion.idPersona.primerApellido }}</td>
                        <td>{{ estado.idMallaCurricular.idPfg }}</td>
                        <td>
                            <ul>
                                <li>
                                    <a href="{{ path('admin_persona_show', { 'id': estado.idPersonaInstitucion.idPersona.id }) }}">show</a>
                                </li>
                                <li>
                                    <a href="{{ path('admin_persona_edit', { 'id': estado.idPersonaInstitucion.idPersona.id }) }}">edit</a>
                                </li>
                            </ul>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>


    <form class="form-inline" method="post" name="seccion">
        <div id="seccion">

            {% for o in oferta %}
                <div class="form-group">
                <b>{{ o.idMallaCurricularUc }}</b>
                {% for seccion in o.seccion %}
                    <div class="radio">
                        <label>
                            <input id="seccion_idSeccion_{{seccion.id}}" type="radio" value="{{seccion.id}}" name="seccion[idSeccion][{{o.idMallaCurricularUc}}]">
                            {{ seccion.nombre }}
                        </label>
                    </div>
                {% endfor %}<br>
                </div>
            {% endfor %}
        </div>
        <input id="seccion__token" type="hidden" value="WbDyIPXIxm9WxU4oOf2a4_4CnXg3rxuY46e_TbVAggY" name="seccion[_token]">
        <input type="submit" value="Create" />
    </form>
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <script>
        $(function () {
            alert("hola");
            //iCheck for checkbox and radio inputs
            $('input[type="checkbox"].minimal, input[type="radio"].minimal').iCheck({
                checkboxClass: 'icheckbox_minimal-blue',
                radioClass: 'iradio_minimal-blue'
            });
            //Red color scheme for iCheck
            $('input[type="checkbox"].minimal-red, input[type="radio"].minimal-red').iCheck({
                checkboxClass: 'icheckbox_minimal-red',
                radioClass: 'iradio_minimal-red'
            });
            //Flat red color scheme for iCheck
            $('input[type="checkbox"].flat-red, input[type="radio"].flat-red').iCheck({
                checkboxClass: 'icheckbox_flat-green',
                radioClass: 'iradio_flat-green'
            });
        });
    </script>
{% endblock %}
