{% extends 'admin.html.twig' %}

{% block page_title %} Inscripción {% endblock %}
{% block page_subtitle %} Crear nueva {% endblock %}

{% block page_content %}

    <div class="col-sm-12">
        <div class="box">
            <div class="box-header">

            </div>
            <!-- /.box-header -->
            <div class="box-body">
                <table id="tabla_personas" class="table table-bordered table-striped">
                    <thead>
                    <tr>
                        <th>Cedulapasaporte</th>
                        <th>Primernombre</th>
                        <th>Primerapellido</th>
                        <th>PFG</th>
                        <th>Actions</th>
                    </tr>
                    </thead>
                    <tbody>

                    <tr>
                        <td><a href="{{ path('admin_persona_show', { 'id': estado.idPersonaInstitucion.idPersona.id }) }}">{{ estado.idPersonaInstitucion.idPersona.cedulaPasaporte }}</a></td>
                        <td>{{ estado.idPersonaInstitucion.idPersona.primerNombre }}</td>
                        <td>{{ estado.idPersonaInstitucion.idPersona.primerApellido }}</td>
                        <td>{{ estado.idMallaCurricular.idPfg }}</td>
                        <td>
                            <ul>
                                <li>
                                    <a href="{{ path('admin_persona_show', { 'id': estado.idPersonaInstitucion.idPersona.id }) }}">show</a>
                                </li>
                                <li>
                                    <a href="{{ path('admin_persona_edit', { 'id': estado.idPersonaInstitucion.idPersona.id }) }}">edit</a>
                                </li>
                            </ul>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>


    <form class="form-inline" method="post" name="seccion">
        <div id="seccion">

            {% for o in oferta %}
            <div class="row">
                <div class="form-group col-lg-5">
                <b>{{ o.idMallaCurricularUc }}</b>
                    </div>
                    <div class="col-lg-2">
                    <select name="seccion[{{ o.idMallaCurricularUc }}]" class="form-control" id="seccion[{{ o.idMallaCurricularUc }}]">
                        <option value="">Seleccione una sección</option>
                {% for seccion in o.seccion %}
                    <option value="{{seccion.id}}">{{ seccion.nombre }}</option>
                   {# <div class="form-group">
                        <label>
                            <input class="flat-red" id="seccion_idSeccion_{{seccion.id}}" type="radio" value="{{seccion.id}}" name="seccion[idSeccion][{{o.idMallaCurricularUc}}]">{{ seccion.nombre }}
                        </label>
                    </div>#}
                {% endfor %}
                    </select>
                    </div>
            <div class="col-lg-2">
                        <select name="estatus[{{ o.idMallaCurricularUc }}]" class="form-control">
                            <option value="">Seleccione estatus</option>
                            {% for estatus in estatusUc %}
                                <option value="{{estatus.id}}">{{ estatus.nombre }}</option>
                                {# <div class="form-group">
                                     <label>
                                         <input class="flat-red" id="seccion_idSeccion_{{seccion.id}}" type="radio" value="{{seccion.id}}" name="seccion[idSeccion][{{o.idMallaCurricularUc}}]">{{ seccion.nombre }}
                                     </label>
                                 </div>#}
                            {% endfor %}
                        </select>
            </div>


                <div class="col-lg-2">
                    <select name="comunidad[{{ o.idMallaCurricularUc }}]" class="form-control" id="comunidad[{{ o.idMallaCurricularUc }}]">
                        <option value="">Seleccione Comunidad</option>
                        {% for comunidad in comunidades %}
                            <option value="{{comunidad.id}}">{{ comunidad.nombre }}</option>
                            {# <div class="form-group">
                                 <label>
                                     <input class="flat-red" id="seccion_idSeccion_{{seccion.id}}" type="radio" value="{{seccion.id}}" name="seccion[idSeccion][{{o.idMallaCurricularUc}}]">{{ seccion.nombre }}
                                 </label>
                             </div>#}
                        {% endfor %}
                    </select>
                </div>
            </div>
            {% endfor %}

            <div class="col-lg-2">
                <input type="submit" class="btn btn-success" value="Inscribir" />
            </div>

        <input id="seccion__token" type="hidden" value="WbDyIPXIxm9WxU4oOf2a4_4CnXg3rxuY46e_TbVAggY" name="seccion[_token]">
        </div>
    </form>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <script>
        $(function () {

            //Flat red color scheme for iCheck
            $('input[type="checkbox"].flat-red, input[type="radio"].flat-red').iCheck({
                checkboxClass: 'icheckbox_flat-green',
                radioClass: 'iradio_flat-green'
            });


            $( "select[name^='seccion']" ).change(function() {
                valor = $(this).val();
                ident = $(this).attr('id');
                console.log(valor);
                console.log(ident);
                x = ident.split("[");
                x = x[1].slice(0, -1);
                console.log(x);


                $.ajax({
                    url:'{{ (path('inscripcion_ajax_comunidad')) }}',
                    type: "POST",
                    dataType: "json",
                    data: {
                        "id": valor
                    },
                    async: true,
                    success: function (data)
                    {
                        var posts = JSON.parse(data.posts);
                        //console.log(posts[0]);
                        for(var i = 0; i < posts.length; i++){
                            console.log(posts[i]);
                            $("#comunidad\\[" + x + "\\]").append($('<option>', {
                                value: posts[i].id,
                                text: posts[i].nombre
                            }));


                        }
                        //$('div#ajax-results').html(data.output);

                    }
                });



                return false;

            });


        });
    </script>
{% endblock %}
