{% extends 'admin.html.twig' %}

{% block page_title %} Inscripciones {% endblock %}
{% block page_subtitle %} Borrar Unidad Curricular {% endblock %}

{% block page_content %}


    <div class="col-sm-12">
        <div class="box">
            <div class="box-header">

            </div>
            <!-- /.box-header -->
            <div class="box-body">
                <table id="tabla_personas" class="table table-bordered table-striped">
                    <thead>
                    <tr>
                        <th>Cedulapasaporte</th>
                        <th>Primernombre</th>
                        <th>Primerapellido</th>
                        <th>PFG</th>
                        <th>Actions</th>
                    </tr>
                    </thead>
                    <tbody>

                    <tr>
                        <td><a href="{{ path('admin_persona_show', { 'id': inscripcion.idEstadoAcademico.idPersonaInstitucion.idPersona.id }) }}">{{ inscripcion.idEstadoAcademico.idPersonaInstitucion.idPersona.cedulaPasaporte }}</a></td>
                        <td>{{ inscripcion.idEstadoAcademico.idPersonaInstitucion.idPersona.primerNombre }}</td>
                        <td>{{ inscripcion.idEstadoAcademico.idPersonaInstitucion.idPersona.primerApellido }}</td>
                        <td>{{ inscripcion.idEstadoAcademico.idMallaCurricular.idPfg }}</td>
                        <td>
                            <ul>
                                <li>
                                    <a href="{{ path('admin_persona_show', { 'id': inscripcion.idEstadoAcademico.idPersonaInstitucion.idPersona.id }) }}">show</a>
                                </li>
                                <li>
                                    <a href="{{ path('admin_persona_edit', { 'id': inscripcion.idEstadoAcademico.idPersonaInstitucion.idPersona.id }) }}">edit</a>
                                </li>
                            </ul>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>


    <table id="tabla_personas" class="table table-bordered table-striped">
        <tbody>

            <tr>
                <th>Inscripción</th>
                <td>
                    {{ inscripcion.idSeccion.ofertaAcademica.idMallaCurricularUc.idUnidadCurricular.nombre }}
                    <span class="bnt btn-xs btn-warning">{{ inscripcion.idSeccion }}</span>
                </td>
            </tr>

            <tr>
                <th>Ubicación de la comunidad</th>
                <td><span class="bnt btn-xs btn-default">{{ inscripcion.idSeccion.comunidades.first }}</span></td>
            </tr>

        </tbody>
    </table>
    <div class="col-md-6">
    {{ form_start(formUbicacion, {'attr': {'class': 'form-horizontal', 'novalidate' : 'novalidate'}}) }}

    {% form_theme formUbicacion 'bootstrap_3_horizontal_layout.html.twig' %}
        {{ form_widget(formUbicacion) }}
        <input type="submit" class="btn btn-xs btn-success" value="Crear proyecto">
    {{ form_end(formUbicacion) }}
    </div>
    <div class="col-md-6">
    <ul>
        <li>
            <a class="btn btn-primary btn-xs" href="{{ path('admin_inscripcion_mostrar' , { 'id': inscripcion.idEstadoAcademico.id }) }}">Regresar a la Inscripcion</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="eliminar UC" class="btn btn-xs btn-danger">
            {{ form_end(delete_form) }}
        </li>
    </ul>
    </div>
{% endblock %}
