{% extends 'base.html.twig' %}

{% block body %}
    <h1>Persona edit</h1>

    {{ form_start(edit_persona) }}{{ form_start(edit_economico) }}
        {{ form_widget(edit_persona) }}
        {{ form_widget(edit_economico) }}
        {{ form_widget(edit_discapacidades) }}

        <input type="submit" value="Edit" />
    {{ form_end(edit_persona) }}{{ form_end(edit_economico) }}

    <ul>
        <li>
            <a href="{{ path('admin_persona_index') }}">Back to the list</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
