{% extends 'admin.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('bundles/adminlte/plugins/datatables/dataTables.bootstrap.css') }}">
{% endblock %}

{% block page_content %}
<div class="box">
    <div class="box-header">

    </div>
    <!-- /.box-header -->
    <div class="box-body">
        <table id="tabla_personas" class="table table-bordered table-striped">
        <thead>
            <tr>
                <th>Primernombre</th>
                <th>Segundonombre</th>
                <th>Primerapellido</th>
                <th>Segundoapellido</th>
                <th>Cedulapasaporte</th>
                <th>Fechanacimiento</th>
                <th>Correoelectronico</th>

                <th>Id</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for persona in personas %}
            <tr>
                <td><a href="{{ path('admin_persona_show', { 'id': persona.id }) }}">{{ persona.primerNombre }}</a></td>
                <td>{{ persona.segundoNombre }}</td>
                <td>{{ persona.primerApellido }}</td>
                <td>{{ persona.segundoApellido }}</td>
                <td>{{ persona.cedulaPasaporte }}</td>
                <td>{% if persona.fechaNacimiento %}{{ persona.fechaNacimiento|date('Y-m-d') }}{% endif %}</td>
                <td>{{ persona.correoElectronico }}</td>
                <td>{{ persona.id }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('admin_persona_show', { 'id': persona.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('admin_persona_edit', { 'id': persona.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    </div>
    </div>

            <a href="{{ path('admin_persona_new') }}" class="btn btn-primary">Registrar Nuevo Estudiante</a>

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('bundles/adminlte/plugins/datatables/jquery.dataTables.min.js')}}"></script>
    <script src="{{ asset('bundles/adminlte/plugins/datatables/dataTables.bootstrap.min.js')}}"></script>
    <script>
        $('#tabla_personas').DataTable( {
            "language": {
                "lengthMenu": "Mostrar _MENU_ registros por página",
                "zeroRecords": "No existe esa persona - lo siento",
                "info": "Mostrando la página _PAGE_ de _PAGES_",
                "infoEmpty": "No hay registros para mostrar",
                "infoFiltered": "(Buscando en los _MAX_ registros disponibles)",
                "search" : "Buscar:"
            }
        } );
    </script>
{% endblock %}
