{% extends 'base.html.twig' %}

{% block body %}
    <h1>Personas list</h1>

    <table>
        <thead>
            <tr>
                <th>Primernombre</th>
                <th>Segundonombre</th>
                <th>Primerapellido</th>
                <th>Segundoapellido</th>
                <th>Cedulapasaporte</th>
                <th>Fechanacimiento</th>
                <th>Correoelectronico</th>
                <th>Direccionresidencia</th>
                <th>Fecharegistro</th>
                <th>Fechaactualizacion</th>
                <th>Privadolibertad</th>
                <th>Certificadoconapdis</th>
                <th>Idsucre</th>
                <th>Id</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for persona in personas %}
            <tr>
                <td><a href="{{ path('admin_persona_show', { 'id': persona.id }) }}">{{ persona.primerNombre }}</a></td>
                <td>{{ persona.segundoNombre }}</td>
                <td>{{ persona.primerApellido }}</td>
                <td>{{ persona.segundoApellido }}</td>
                <td>{{ persona.cedulaPasaporte }}</td>
                <td>{% if persona.fechaNacimiento %}{{ persona.fechaNacimiento|date('Y-m-d') }}{% endif %}</td>
                <td>{{ persona.correoElectronico }}</td>
                <td>{{ persona.direccionResidencia }}</td>
                <td>{% if persona.fechaRegistro %}{{ persona.fechaRegistro|date('Y-m-d') }}{% endif %}</td>
                <td>{% if persona.fechaActualizacion %}{{ persona.fechaActualizacion|date('Y-m-d') }}{% endif %}</td>
                <td>{% if persona.privadoLibertad %}Yes{% else %}No{% endif %}</td>
                <td>{{ persona.certificadoConapdis }}</td>
                <td>{{ persona.idSucre }}</td>
                <td>{{ persona.id }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('admin_persona_show', { 'id': persona.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('admin_persona_edit', { 'id': persona.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('admin_persona_new') }}">Create a new persona</a>
        </li>
    </ul>
{% endblock %}
