{% extends 'admin.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}

{% block page_title %} Persona {% endblock %}
{% block page_subtitle %} Registro de nueva Persona {% endblock %}

{% block page_content %}

<div class="row">
    <!-- left column -->
    {{ form_start(form, {'attr': {'class': 'form-horizontal', 'novalidate' : 'novalidate'}}) }}
    <div class="col-md-6">
        <!-- general form elements -->
        <div class="box box-primary">
            <div class="box-header with-border">
                <h3 class="box-title">Datos Personales</h3>
            </div>
            <!-- /.box-header -->
            <!-- form start -->

                <div class="box-body">
                <div class="row">
                    <div class="col-sm-6">

                        <div class="form-group">
                            {{ form_label(form.idPaisNacimiento) }}
                            <div class="col-sm-9">
                                {{ form_errors(form.idPaisNacimiento) }}
                                {{ form_widget(form.idPaisNacimiento) }}
                            </div>
                        </div>

                        <div class="form-group">
                            {{ form_label(form.idDocumentoentidad) }}
                            <div class="col-sm-9">
                                {{ form_errors(form.idDocumentoentidad) }}
                                {{ form_widget(form.idDocumentoentidad) }}
                            </div>
                        </div>


                            <div class="form-group">
                                {{ form_label(form.cedulaPasaporte) }}
                                <div class="col-sm-9">
                                    {{ form_errors(form.cedulaPasaporte) }}
                                    {{ form_widget(form.cedulaPasaporte) }}
                                </div>
                            </div>


                            <div class="form-group">
                                {{ form_label(form.primerNombre) }}
                                <div class="col-sm-9">
                                    {{ form_errors(form.primerNombre) }}
                                    {{ form_widget(form.primerNombre) }}
                                </div>
                            </div>

                            <div class="form-group">
                                {{ form_label(form.segundoNombre) }}
                                <div class="col-sm-9">
                                    {{ form_errors(form.segundoNombre) }}
                                    {{ form_widget(form.segundoNombre) }}
                                </div>
                            </div>

                            <div class="form-group">
                                {{ form_label(form.primerApellido) }}
                                <div class="col-sm-9">
                                    {{ form_errors(form.primerApellido) }}
                                    {{ form_widget(form.primerApellido) }}
                                </div>
                            </div>

                            <div class="form-group">
                                {{ form_label(form.segundoApellido) }}
                                <div class="col-sm-9">
                                    {{ form_errors(form.segundoApellido) }}
                                    {{ form_widget(form.segundoApellido) }}
                                </div>
                            </div>

                    </div>
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                {{ form_label(form.fechaNacimiento) }}
                                <div class="col-sm-8">
                                    {{ form_errors(form.fechaNacimiento) }}
                                    {{ form_widget(form.fechaNacimiento) }}
                                </div>
                            </div>

                            <div class="form-group">
                                {{ form_label(form.idGenero) }}
                                <div class="col-sm-8">
                                    {{ form_errors(form.idGenero) }}
                                    {{ form_widget(form.idGenero) }}
                                </div>
                            </div>

                            <div class="form-group">
                                {{ form_label(form.idEstadoCivil) }}
                                <div class="col-sm-8">
                                    {{ form_errors(form.idEstadoCivil) }}
                                    {{ form_widget(form.idEstadoCivil) }}
                                </div>
                            </div>

                            <div class="form-group">
                                {{ form_label(form.correoElectronico) }}
                                <div class="col-sm-8">
                                    {{ form_errors(form.correoElectronico) }}
                                    {{ form_widget(form.correoElectronico) }}
                                </div>
                            </div>

                            <div class="form-group">
                                {{ form_label(form.direccionResidencia) }}
                                <div class="col-sm-8">
                                    {{ form_errors(form.direccionResidencia) }}
                                    {{ form_widget(form.direccionResidencia) }}
                                </div>

                            </div>
                        </div>

                        <div class="col-sm-6">
                            <div class="familiares form-group col-sm-12" id="familiares" data-prototype="{{ form_widget(form.familiares.vars.prototype)|e('html_attr') }}">

                            </div>
                        </div>



                    </div>
                </div>
                <!-- /.box-body -->

                <div class="box-footer">

                </div>

        </div>
        <!-- /.box -->
    </div>
</div>



    <div class="col-md-6">
        <!-- general form elements -->
        <div class="box box-primary">
            <div class="box-header with-border">
                <h3 class="box-title">Datos Academicos</h3>
            </div>
            <!-- /.box-header -->
            <!-- form start -->

            <div class="box-body">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="academicos form-group col-sm-12" id="academicos" data-prototype="{{ form_widget(formInstitucion.estados_academicos.vars.prototype)|e('html_attr') }}">

                        </div>
                    </div>

                    <hr>
                    <div class="col-lg-12">
                        <div class="form-group">
                            <div class="col-sm-8">
                            {{ form_label(formInstitucion.idInstitucion) }}

                                {{ form_errors(formInstitucion.idInstitucion) }}
                                {{ form_widget(formInstitucion.idInstitucion) }}

                            {{ form_widget(formInstitucion) }}
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /.box-body -->

                <div class="box-footer">

                </div>

            </div>
            <!-- /.box -->
        </div>
    </div>


    <div class="col-md-6">
        <!-- general form elements -->
        <div class="box box-primary">
            <div class="box-header with-border">
                <h3 class="box-title">Datos Socio-económicos</h3>
            </div>
            <!-- /.box-header -->
            <!-- form start -->

            <div class="box-body">
                <div class="row">
                    <div class="col-sm-12">

                        <div class="misiones col-sm-12 form-group"  id="misiones" data-prototype="{{ form_widget(form.misiones.vars.prototype)|e('html_attr') }}">

                        </div>
                    </div>

                    <div class="col-sm-6">

                        <div class="form-group">
                            {{ form_label(formEconomico.trabaja) }}
                            <div class="col-sm-8">
                                {{ form_errors(formEconomico.trabaja) }}
                                {{ form_widget(formEconomico.trabaja) }}
                            </div>
                        </div>

                        <div class="form-group">
                            {{ form_label(formEconomico.aporte) }}
                            <div class="col-sm-8">
                                {{ form_errors(formEconomico.aporte) }}
                                {{ form_widget(formEconomico.aporte) }}
                            </div>
                        </div>

                        <div class="form-group">
                            {{ form_label(formEconomico.ingresoFamiliar) }}
                            <div class="col-sm-8">
                                {{ form_errors(formEconomico.ingresoFamiliar) }}
                                {{ form_widget(formEconomico.ingresoFamiliar) }}
                            </div>
                        </div>
                        {{ form_widget(formEconomico) }}
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            {{ form_label(formCne.idCentroVotacion) }}
                            <div class="col-sm-8">
                                {{ form_errors(formCne.idCentroVotacion) }}
                                {{ form_widget(formCne.idCentroVotacion) }}
                            </div>
                            {{ form_widget(formCne) }}
                        </div>


                        <div class="form-group">
                            {{ form_label(formDiscapacidad.idDiscapacidad) }}
                            <div class="col-sm-8">
                                {{ form_errors(formDiscapacidad.idDiscapacidad) }}
                                {{ form_widget(formDiscapacidad.idDiscapacidad) }}
                            </div>
                        </div>

                        <div class="form-group">
                            {{ form_label(formDiscapacidad.certificadoConapdis) }}
                            <div class="col-sm-8">
                                {{ form_errors(formDiscapacidad.certificadoConapdis) }}
                                {{ form_widget(formDiscapacidad.certificadoConapdis) }}
                            </div>
                            {{ form_widget(formDiscapacidad) }}
                        </div>


                    {{ form_widget(form) }}
                    </div>
                </div>
                <!-- /.box-body -->

                <div class="box-footer">

                </div>

            </div>
            <!-- /.box -->
        </div>
    </div>


        <input type="submit" class="btn btn-success" value="Registrar" /><a class="btn btn-default" href="{{ path('admin_persona_index') }}">Regresar al listado</a>
    {{ form_end(form) }}

</div>




{% endblock %}

{% block javascripts %}
{{ parent() }}
    <script>

        var $collectionHolder;

        // setup an "add a tag" link
        var $addFamiliaresLink = $('<a href="#" class="add_familiares_link">Agregar Familiar</a>');
        var $addMisionesLink = $('<a href="#" class="add_misiones_link">Agregar Mision</a>');
        var $addAcademicoLink = $('<a href="#" class="add_academico_link">Agregar Nuevo Estado Académico</a>');
        var $newLinkLi = $("<div></div>").prepend($addFamiliaresLink);
        var $newLinkLiM = $('<div></div>').prepend($addMisionesLink);
        var $newLinkLiA = $("<div></div>").prepend($addAcademicoLink);

        jQuery(document).ready(function() {
            // Get the ul that holds the collection of tags
            $collectionHolder = $('div.familiares');
            $collectionMision = $('div.misiones');
            $collectionAcademico = $('div.academicos');

            // add the "add a tag" anchor and li to the tags ul
            $collectionHolder.prepend($newLinkLi);
            $collectionMision.prepend($newLinkLiM);
            $collectionAcademico.prepend($newLinkLiA);

            // count the current form inputs we have (e.g. 2), use that as the new
            // index when inserting a new item (e.g. 2)
            $collectionHolder.data('index', $collectionHolder.find(':input').length);
            $collectionMision.data('index', $collectionMision.find(':input').length);
            $collectionAcademico.data('index', $collectionAcademico.find(':input').length);

            $addFamiliaresLink.on('click', function(e) {
                // prevent the link from creating a "#" on the URL
                e.preventDefault();

                // add a new tag form (see next code block)
                addFamiliaresForm($collectionHolder, $newLinkLi);
            });


            $addMisionesLink.on('click', function(e) {
                // prevent the link from creating a "#" on the URL
                e.preventDefault();

                // add a new tag form (see next code block)
                addMisionesForm($collectionMision, $newLinkLiM);
            });

            $addAcademicoLink.on('click', function(e) {
                // prevent the link from creating a "#" on the URL
                e.preventDefault();

                // add a new tag form (see next code block)
                addAcademicoForm($collectionAcademico, $newLinkLiA);
            });

            function addFamiliaresForm($collectionHolder, $newLinkLi) {
                // Get the data-prototype explained earlier
                var prototype = $collectionHolder.data('prototype');
                console.log(prototype);

                // get the new index
                var index = $collectionHolder.data('index');

                // Replace '__name__' in the prototype's HTML to
                // instead be a number based on how many items we have
                var newForm = prototype.replace(/__name__/g, index);

                // increase the index with one for the next item
                $collectionHolder.data('index', index + 1);

                // Display the form in the page in an li, before the "Add a tag" link li
                var $newFormLi = $("<div></div>").prepend(newForm);
                console.log(newForm);
                $newLinkLi.after($newFormLi);



                $newFormLi.prepend('<a href="#" class="remove-familiar">x</a>');

                $newLinkLi.after($newFormLi);

                // handle the removal, just for this example
                $('.remove-familiar').click(function(e) {
                    e.preventDefault();

                    $(this).parent().remove();

                    return false;
                });


            }


            function addMisionesForm($collectionHolder, $newLinkLi) {
                // Get the data-prototype explained earlier
                var prototype = $collectionHolder.data('prototype');
                console.log(prototype);

                // get the new index
                var index = $collectionHolder.data('index');

                // Replace '__name__' in the prototype's HTML to
                // instead be a number based on how many items we have
                var newForm = prototype.replace(/__name__/g, index);

                // increase the index with one for the next item
                $collectionHolder.data('index', index + 1);

                // Display the form in the page in an li, before the "Add a tag" link li
                var $newFormLi = $('<div></div>').prepend(newForm);
                $newLinkLi.after($newFormLi);



                $newFormLi.prepend('<a href="#" class="remove-mision">x</a>');

                $newLinkLi.after($newFormLi);

                // handle the removal, just for this example
                $('.remove-mision').click(function(e) {
                    e.preventDefault();

                    $(this).parent().remove();

                    return false;
                });


            }



            function addAcademicoForm($collectionHolder, $newLinkLi) {
                // Get the data-prototype explained earlier
                var prototype = $collectionHolder.data('prototype');
                console.log(prototype);

                // get the new index
                var index = $collectionHolder.data('index');

                // Replace '__name__' in the prototype's HTML to
                // instead be a number based on how many items we have
                var newForm = prototype.replace(/__name__/g, index);

                // increase the index with one for the next item
                $collectionHolder.data('index', index + 1);

                // Display the form in the page in an li, before the "Add a tag" link li
                var $newFormLi = $('<div></div>').prepend(newForm);
                $newLinkLi.after($newFormLi);



                $newFormLi.prepend('<a href="#" class="remove-academico">x</a>');

                $newLinkLi.after($newFormLi);

                // handle the removal, just for this example
                $('.remove-academico').click(function(e) {
                    e.preventDefault();

                    $(this).parent().remove();

                    return false;
                });


            }


        });

    </script>
{% endblock %}
