{% extends 'admin.html.twig' %}

{% block page_title %} Editando {% endblock %}
{% block page_subtitle %} Oferta académica {% endblock %}

{% block page_content %}
    <h1>Seccioncomunidad edit</h1>

    {{ form_start(edit_form) }}
    <div class="row">
        {{ form_widget(edit_form) }}
    </div>
    <div class="row">
        <input class="btn btn-success btn-xs" type="submit" value="Edit" />
    {{ form_end(edit_form) }}


            <a class="btn btn-xs btn-primary" href="{{ path('admin_comunidad_index') }}">Regresar</a>

            {{ form_start(delete_form) }}
                <input class="btn btn-xs btn-danger" type="submit" value="Delete">
            {{ form_end(delete_form) }}

    </div>
{% endblock %}
