{% extends 'admin.html.twig' %}

{% block page_title %}Mostrando Registro{% endblock %}
{% block page_subtitle %}{{ seccionComunidad.nombre }} -> {{ seccionComunidad.idSeccion }} {% endblock %}
{% block page_content %}


    <table id="tabla_comunidades" class="table table-bordered table-striped">
        <tbody>
            <tr>
                <th>Id</th>
                <th>Nombre de la comunidad</th>
                <th>Sección del NAI</th>
            </tr>
            <tr>
                <td>{{ seccionComunidad.id }}</td>
                <td>{{ seccionComunidad.nombre }}</td>
                <td>{{ seccionComunidad.idSeccion }}</td>
            </tr>
        </tbody>
    </table>



            <a href="{{ path('admin_comunidad_index') }}" class="btn btn-default btn-xs">Regresar al listado</a>

            <a href="{{ path('admin_comunidad_edit', { 'id': seccionComunidad.id }) }}" class="btn btn-xs btn-warning">Editar</a>

            {{ form_start(delete_form) }}
                <input type="submit" value="Eliminar" class="btn btn-danger btn-xs">
            {{ form_end(delete_form) }}


{% endblock %}
