{% extends 'admin.html.twig' %}

{% block page_title %} Mostrando {% endblock %}
{% block page_subtitle %} Comunidad {% endblock %}

{% block page_content %}

    <h1>Seccioncomunidad</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ seccionComunidad.id }}</td>
            </tr>
            <tr>
                <th>Nombre</th>
                <td>{{ seccionComunidad.nombre }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('admin_comunidad_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('admin_comunidad_edit', { 'id': seccionComunidad.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
